
/* header section */
#header {
    padding: 10px 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#header .offcanvas .offcanvas-body .navbar-nav li {
    margin-left: 40px;
    font-size: 17.5px;
}

#header .navbar .nav li:hover a {
    color: var(--color-03);
}

/* End header section */
/* Back to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fff;
    border: 2px solid #ccc;
    color: white;
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    opacity: 0.7;
    }
     
#myBtn:hover {
    background-color: #f1f1f1;
}
#myBtn i {
    color: #090909;
}
/* End Back to top */
/* Hero section */
#hero {
    margin-top: 50px;
    background-image: url("/0. Project by ĐT/assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

#hero::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

#hero .banner .box-left,
#hero .banner .box-right {
    z-index: 10;
    margin-bottom: 8%;
}

.banner .box-left h2 {
    font-size: 55px;
    margin-top: 20%;
    color: #fff;
}

#hero .banner .box-left button {
    margin-top: 20px;
}

#hero .banner .box-left button a {
    color: #fff;
    transition: 0.3s;
}

#hero .banner .box-left button:hover a {
    color: var(--color-03);
}

#hero .banner .box-right {
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#hero .banner .box-right img {
    border-radius: 20px;
    margin: 0px 10px;
    animation: animation 2s infinite linear;
}

#hero .banner .box-right img:nth-child(2n + 1) {
    animation-delay: 0.5s;
}

#hero .banner .box-right img:nth-child(2) {
    animation-delay: 1s;
}

@keyframes animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* End hero section */
/* About section */

/* Slick CSS */
.slick-prev,
.slick-next {
    font-size: 17px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: var(--color-02);
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-prev {
    left: 0;
    margin-right: 20px;
}

.slick-next {
    right: 0;
}

/* End slick CSS */
#about {
    padding: 70px 0;
    text-align: center;
}

#about .main-title {
    font-size: 40px;
    padding-bottom: 15px;
    position: relative;
}

#about .main-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 0px;
    left: calc(50% - 60px);
}

#about .main-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--color-03);
    bottom: 1px;
    left: calc(50% - 20px);
}

#about .multiple-items {
    margin-top: 30px;
    margin-bottom: 60px;
}

#about .multiple-items .box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .multiple-items .box .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#about .multiple-items .box .icon-box i {
    border-radius: 50%;
    font-size: 25px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .multiple-items .box.box:nth-child(3n + 1) .icon-box i {
    background: #FFF4CC;
}

#about .multiple-items .box.box:nth-child(3n + 2) .icon-box i {
    background: #F3E7F8;
}

#about .multiple-items .box.box:nth-child(3n) .icon-box i {
    background: #CDEFCA;
}

#about .multiple-items .box .icon-box+p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

/* -------------------------------------------- */
.culture {
    padding: 60px 0;
    background-color: #FBFBFB;
}

.culture .left {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.culture .left .title {
    font-size: 40px;
    font-weight: 500;
}

.culture .left .description {
    font-size: 20px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.culture .left .button1 {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: var(--color-03);
    border: 2px solid var(--color-03);
    border-radius: 5px;
    transition: 0.3s;
}

.culture .left .button1:hover {
    background-color: #fff;
    color: var(--color-03);
}

.culture .left .button2 {
    padding: 10px 40px;
    border: 2px solid var(--color-03);
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

.culture .left .button2:hover {
    background-color: #FDF4D0;
}

.culture .right {
    margin-top: 20px;
}

.culture .right img {
    width: 100%;
}

/* -------------------------------------------- */
.impact {
    background-image: url("../images/bg-picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.impact::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.impact .inner-content {
    position: relative;
    z-index: 10;
    padding: 60px 0;
    color: #f8f5f5;
    text-align: center;
}

.impact .inner-content h2 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

.impact .inner-content ul {
    display: flex;
    justify-content: space-between;
}

.impact .inner-content ul p {
    font-size: 25px;
    font-weight: 700;
}

.impact .inner-content ul h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* -------------------------------------------- */
.join .inner-content {
    padding: 60px 0;
    text-align: center;
}

.join .inner-content h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 15px;
    position: relative;
}

.join .inner-content h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 0px;
    left: calc(50% - 60px);
}

.join .inner-content h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--color-03);
    bottom: 1px;
    left: calc(50% - 20px);
}

.join .list-oppo {
    margin-top: 30px;
}

.join .list-oppo .box {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    padding-left: 100px;
}

.join .list-oppo .box img {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.join .list-oppo .box .content {
    text-align: left;
    font-size: 18px;
}

.join .list-oppo .box .content span {
    font-weight: 700;
}

/* End about section */
/* Activities */
.portfolio {
    padding: 60px 0;
    text-align: center;
}

.portfolio h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 15px;
    position: relative;
}

.portfolio h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 0px;
    left: calc(50% - 60px);
}

.portfolio h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--color-03);
    bottom: 1px;
    left: calc(50% - 20px);
}

.portfolio .tab-content .tab-pane img {
    width: 29%;
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio .tab-content .tab-pane button {
    margin-top: 30px;
    border: 2px solid var(--color-03);
    background: var(--color-03);
    padding: 15px 25px;
    border-radius: 35px;
    transition: 0.3s;
}

.portfolio .tab-content .tab-pane button a {
    color: #fff;
    font-size: 18px;
}

.portfolio .tab-content .tab-pane button a i {
    opacity: 0;
    transition: all 0.3s;
}

.portfolio .tab-content .tab-pane button:hover a {
    color: var(--color-03);
}

.portfolio .tab-content .tab-pane button:hover a i {
    opacity: 1;
}

.portfolio .tab-content .tab-pane button:hover {
    background-color: #fff;
}

.portfolio ul {
    justify-content: center;
    margin-top: 30px;
}

.portfolio ul li {
    font-size: 17.5px;
}

.portfolio ul li button {
    color: var(--color-02);
}

.portfolio ul li button:hover {
    color: var(--color-03);
}

.nav-pills .nav-link.active {
    color: #fff;
    background: var(--color-03);
}

.portfolio .tab-content .tab-pane.fade a {
    position: relative;
    transition: opacity 0.6s;
}
.portfolio .tab-content .tab-pane.fade a .over-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .tab-content .tab-pane.fade a:hover .over-play {
    opacity: 1;
}
.portfolio .tab-content .tab-pane.fade a:hover img {
    opacity: 0.7;
}
.portfolio .tab-content .tab-pane.fade a .over-play button {
    display: block;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

/* --------------------------------- */
.sponsors {
    padding: 60px 0;
    text-align: center;
    background-color: #FBFBFB;
}

.sponsors h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 15px;
    position: relative;
}

.sponsors h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 0px;
    left: calc(50% - 60px);
}

.sponsors h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--color-03);
    bottom: 1px;
    left: calc(50% - 20px);
}

.sponsors .sponsor-list {
    margin-top: 30px;
}

.sponsors .spon {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 5 / 3;
    padding: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    background-color: #fff;
    margin-right: 20px;
}

.sponsors img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* End activities section */
/* FAQs */
.faqs {
    padding: 60px 0;
}

.faqs .inner-main {
    margin: 0 50px;
    border: 2px solid #DEE2E6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.faqs .header {
    background: -webkit-linear-gradient(-30deg, #f57f20, #d62b08 100%);
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.faqs .title {
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    position: relative;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    color: var(--color-03);
    box-shadow: 0;
}

.accordion-button {
    font-size: 17px;
    font-weight: 600;
}

/* End FAQs */
/* Contact */
#contact {
    margin-top: 50px;
    background-image: url("/0. Project by ĐT/assets/images/bottom-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

#contact .content {
    position: relative;
    z-index: 100;
    padding: 200px 0;
    text-align: center;
}

#contact .content h2 {
    font-size: 60px;
    color: #fff;
}

#contact .content p {
    font-size: 30px;
    color: #fff;
}

#contact .content .button-list {
    margin-top: 25px;
    justify-content: center;
}

#contact .content .button1 {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: var(--color-03);
    border: 2px solid var(--color-03);
    border-radius: 5px;
    transition: 0.3s;
}

#contact .content .button1:hover {
    background-color: #fff;
    color: var(--color-03);
}

#contact .content .button2 {
    padding: 10px 40px;
    border: 2px solid var(--color-03);
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

#contact .content .button2:hover {
    background-color: #FDF4D0;
}

/* End-contact */
/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer .col-lg-3 a {
    color: var(--color-02);
}

.footer .col-lg-3 {
    padding-left: 50px;
}

.footer .col-lg-3:nth-child(4) i {
    font-size: 18px;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .col-lg-3:nth-child(4) i:hover {
    color: var(--color-03);
}

/* End Footer */
/* Responsive */
@media screen and (max-width: 992px) {
    #hero .banner .box-left h2 {
        font-size: 45px;
    }

    #hero .banner .box-right {
        justify-content: center;
    }

    #hero .banner .box-right img:nth-child(1) {
       display: none;
    }
    #hero .banner .box-right {
        justify-content: center;
    }

    #about iframe {
        height: 450px;
    }

    .impact .inner-content ul {
        flex-direction: column;
    }

    .portfolio .tab-content .tab-pane img {
        width: 45%;
        margin-left: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    #hero .banner .box-right {
        display: none;
    }

    #about iframe {
        height: 350px;
    }

    .portfolio .tab-content .tab-pane img {
        width: calc(100% - 30px);
        margin-left: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px) {
    #about iframe {
        height: 200px;
    }
}

/* End responsive */